
body{
   background: url("../../picture/w.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.login {
    display: flex;
    width:500px;
    border: 1px solid black;
    height: 450px;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    font-size: 20px;
    color:aliceblue;
    backdrop-filter: blur(20px);
    
}
.login input{
    width:400px;
     padding:12px;
     border-radius: 20px;
     margin: 18px;
     font-size: 20px;
     color:rgb(237, 232, 232);
     border:none;
     outline:none;
     background-color: rgb(0,0,0,0.5);
     box-shadow: inset -5px -5px rgb(0,0,0,0.5);

}
  .submit input{
    text-align: center;
    color:aliceblue;
    width: 150px;
    font-size:20px;
}
.submit:hover input{
    cursor: pointer;
    background-color: rgb(5, 5, 6);
}