*{
    margin:0;
    padding: 0;
}
body{
    position: absolute;
    background-color: rgb(6, 93, 233);
}

.font{
   border: 1px solid black;
  width: 500px;
  height: 450px;
  margin-top: 180px;
  margin-left: 500px;
  border: none;
  font-family: sans-serif;
   color:white;
   font-size: 20px;
   text-shadow: 1px 10px 1px rgb(14, 14, 14),
                      1px 2px 1px  rgb(6, 5, 5),
                      1px 3px 1px  rgb(13, 12, 12),
                      1px 4px 1px rgb(0, 0, 0),
                      1px 5px 1px rgb(1, 1, 1),
                      1px 6px 1px rgb(0, 0, 0),
                      1px 7px 1px  rgb(6, 6, 6);
   
  
  
}
.heading{
    text-align: center;
}
.usnername input{
  width: 250px;
  height: 30px;
  margin: 20px 33px 14px 43px;
  padding: 6px 0px 8px 48px;
  border-radius: 25px;
  border:none;
  background-color: rgb(7, 57, 137);
  color:white;
  font-size: 20px;
  box-shadow:  7px 8px rgb(3, 3, 3);
  text-shadow: 1px 10px 1px rgb(14, 14, 14),
                      1px 2px 1px  rgb(6, 5, 5),
                      1px 3px 1px  rgb(13, 12, 12),
                      1px 4px 1px rgb(0, 0, 0),
                      1px 5px 1px rgb(1, 1, 1),
                      1px 6px 1px rgb(0, 0, 0),
                      1px 7px 1px  rgb(6, 6, 6);
}
.usnername i{
    position:absolute;
    margin-left: 60px;
    margin-top: 33px;
    color:white;
    text-shadow: 1px 10px 1px rgb(14, 14, 14),
                      1px 2px 1px  rgb(6, 5, 5),
                      1px 3px 1px  rgb(13, 12, 12),
                      1px 4px 1px rgb(0, 0, 0),
                      1px 5px 1px rgb(1, 1, 1),
                      1px 6px 1px rgb(0, 0, 0),
                      1px 7px 1px  rgb(6, 6, 6);
}
.btn input {
 text-align: center;
  width: 400px;
  margin: 23px 2px 1px 47px;
  padding: 8px;
  border-radius: 20px;
  font-size: 22px;
  border: none;
  background: rgb(221, 218, 218);
  box-shadow:  7px 8px rgb(8, 8, 8);
  

  
}
.chackbox {
    margin: -49px 608px -1px 555px;
    display: flex;
     justify-content: space-between;
      margin-right: 617px;
      font-family: sans-serif;
       
}
.chackbox p{
    margin-top:-30px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 10px 1px rgb(14, 14, 14),
                      1px 2px 1px  rgb(6, 5, 5),
                      1px 3px 1px  rgb(13, 12, 12),
                      1px 4px 1px rgb(0, 0, 0),
                      1px 5px 1px rgb(1, 1, 1),
                      1px 6px 1px rgb(0, 0, 0),
                      1px 7px 1px  rgb(6, 6, 6);
    
}

.chackbox a{
    text-decoration: none;
    font-size: 20px;
  position: absolute;
  margin-left: 270px;
  margin-top: -30px;
  color:white;
  text-shadow: 1px 10px 1px rgb(14, 14, 14),
                      1px 2px 1px  rgb(6, 5, 5),
                      1px 3px 1px  rgb(13, 12, 12),
                      1px 4px 1px rgb(0, 0, 0),
                      1px 5px 1px rgb(1, 1, 1),
                      1px 6px 1px rgb(0, 0, 0),
                      1px 7px 1px  rgb(6, 6, 6);
}